[submodule "submods/g3log"]
	path = submods/g3log
	url = https://github.com/KjellKod/g3log.git
[submodule "submods/yaml-cpp"]
	path = submods/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "submods/spdlog"]
	path = submods/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
